.Game{
    background-color: rgb(88, 88, 88);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 50px 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gameName{
    color: white;
    
}